{% extends "./base.html" %}
{% block title %}
Add-Agent
{% endblock title %}

{% block content %}


<body class="">
    <main class="main-content  mt-0">
        <section class="min-vh-100 mb-8">
            <div class="page-header align-items-start min-vh-75 pt-5 pb-11 m-3 border-radius-lg"
                style="background-image: url('/static/assets/img/curved-images/pencil.jpg');">
                <span class="mask bg-gradient-dark opacity-6"></span>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center mx-auto">
                            <h1 class="text-white mb-2 mt-5">Welcome!</h1>
                            <p class="text-lead text-white">Please enter your following details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-lg-n50 mt-md-n12 mt-n50">
                    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                        <div class="card z-index-0">
                            <div class="card-header text-center pt-4">
                                <h5>Add Agent</h5>
                            </div>
                            
                            <div class="tab-menu-heading">
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% else %}
                                {% block error_messages %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    <p>{{ message }}</p>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endblock error_messages %}
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <form role="form text-left" action="{% url 'core:add-manager' %}" method="post">
                                    {% csrf_token %}
                                    <!-- <label>Profile Picture</label> -->
                                    <!-- <div class="d-flex flex-column justify-content-center">
                                        <div class="image-container mx-auto mb-4">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="account-image rounded-circle m-auto d-block dropdown-toggle" style="cursor: pointer;" id="id_profile_links" data-bs-toggle="dropdown" aria-expanded="false" width="150" height="150">
                                        </div>
                                    </div> -->

									<!-- for profile picture -->
                                    <!-- <div class="container-fluid p-t-20">
                                        <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
                                            
                                            <div class="card profile-card">
                                              <div class="card-body flex-row">
                                    
                                                  <div class="d-flex flex-column justify-content-center p-4">
                                                      
                                                    <div class="container" id="id_loading_spinner" style="display: none">
                                                        <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
                                                          <div class="spinner-border text-primary" role="status">
                                                            <span class="sr-only"></span>
                                                          </div>
                                                        </div>
                                                    </div>
													<div class="mb-2" id="id_image_crop_confirm">
														<span id="id_cancel" class="material-icons">cancel</span>
														<span id="id_confirm" class="material-icons">check</span>
													</div>
													
                                                    <div class="image-container" id="id_image_container">
                                                        <img class="border border-dark rounded-circle img-fluid mx-auto profile-image" id="id_profile_image_display" src="{{request.user.profile_pic.url}}" alt="Profile" >
                                                        <div class="middle" id="id_middle_container">
                                                            <div class="material-icons" id="id_text">add_circle</div>
														
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                    
                                                <div class="d-flex flex-column justify-content-center">
                                                      
                                                    <form class="form-signin" method="post" enctype="multipart/form-data">{% csrf_token %}
                                                          <input class="d-none" type="file" name="profile_image" id="id_profile_image" onchange="readURL(this)">                                                        
                                                    </form>
                                    
                                                  </div>
                                    
                                              </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <label>First Name</label>
                                    <div class="mb-3">
                                        {{ form.data_image }}
                                    </div>
                                    <label>Last Name</label>
                                    <div class="mb-3">
                                        {{ form.country }}
                                    </div>
                                    <label>User Name</label>
                                    <div class="mb-3">
                                        {{ form.city }}
                                    </div>
                                    <label>Email</label>
                                    <div class="mb-3">
                                        {{ form.image_name }}
                                    </div>
                                    
                                   
                                    <div class="text-center">
                                        <input type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0"
                                            value="Add Manager" />
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>


    {% endblock content %}