{% extends "./base.html" %}
{% block title %}
Add-Packages
{% endblock title %}

{% block content %}


<body class="">

    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- ROW-1 OPEN -->
                <div class="row">

                    <form class="login100-form validate-form" action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.type }}
                        <div class="offset-2 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">ADD TRAVEL DOCUMENT</h3>
                                </div>
                                {% if form.errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% else %}
                                {% block error_messages %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    <p>{{ message }}</p>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endblock error_messages %}
                                {% endif %}
                                <div class="card-body">
                                    <div class="row">
                                        {% comment %} <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputname">Image</label>
                                                {{ itinerary.data_image }}
                                            </div>
                                        </div> {% endcomment %}
                                        <div>
                                            <div class="d-flex justify-content-center mb-2">
                                                <img src="\static\assets\img\traveldocument.jpg"
                                                    class="rounded-circle" alt="example placeholder"
                                                    style="width: 220px;" />
                                            </div>
                                            {% comment %} <div class="d-flex justify-content-center">
                                                <div class="btn btn-primary btn-rounded"
                                                    style="background-color: black;">

                                                    {{ traveldocument.ticket_image }}

                                                </div>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label for="exampleInputname">Ticket Image</label>
                                            <div class="text-left">
                                                <div class="btn btn-primary " style="background-color: black;">
                                                    {{ traveldocument.ticket_image }}
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-6">
                                            <label for="exampleInputname">Reservation proof Image</label>
                                            <div class="text-left">
                                                <div class="btn btn-primary" style="background-color: black;">
                                                    {{ traveldocument.reservation_image }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputname">Ticket Info</label>
                                                {{ traveldocument.ticket_info }}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row text-left">
                                        <label for="exampleInputname">Reservation Image</label>
                                        <div class="text-left">
                                            <div class="btn btn-primary" style="background-color: black;">
                                                {{ traveldocument.reservation_image }}
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputname">Reservation Proof Info</label>
                                                {{ traveldocument.reservation_info }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer text-end">
                                        <div class="text-center">
                                            <input type="submit" class="btn bg-gradient-info w-50 mt-4 mb-0"
                                                value="Upload Document" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!--CONTAINER CLOSED -->

    </div>
    </div>

</body>

{% endblock content %}