{% extends "base.html"%}
{% load static %}
{% block title %}
add - client
{% endblock title %}

{% block page-content%}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">
        {% block error_messages %}
                {% if messages %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endblock error_messages %}

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Add Client</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">client</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Client</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                <form class="login100-form validate-form" action="#" method="post">
                    {% csrf_token %}
                    {{form.created_by}}
                    <div class="offset-2 col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Add Client</div>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="username">User Name</label>
                                    {% comment %} <input type="username" class="form-control" id="username"
                                        placeholder="User Name"> {% endcomment %}
                                    {{ form.client_username }}
                                </div>
                                <div class="form-group">
                                    <label for="account">Trading Account</label>
                                    {% comment %} <input type="account" class="form-control" id="account"
                                        placeholder="Trading Account"> {% endcomment %}
                                    {{form.trading_account}}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <label for="exampleInputnumber">Master</label>
                                        <div class="col-md-12 mb-2">
                                            {{form.master}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <label for="expiry">Expiry</label>
                                            {% comment %} <input type="date" class="form-control" id="expiry"
                                                placeholder="Expiry Date"> {% endcomment %}
                                            {{form.subscription_expiry_date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <input type="submit" value = "Save" class="btn btn-success my-1">
                                <a href="javascript:window.history.back()" class="btn btn-danger my-1">Cancel</a>
                            </div>
                        </div>
                        <input type="text" class="datepicker">
                    </div>
                </form>
            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!--CONTAINER CLOSED -->

    </div>
</div>
<!--app-content open-->
</div>

{% endblock page-content %}

{% block extra-js %}

{% endblock extra-js %}