{% extends "./base.html" %}

{% block title %}
Itinerary
{% endblock title %}


{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">
           
            <!-- PAGE-HEADER -->
            {% comment %} <div class="page-header">

                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List Admin</li>
                    </ol>
                </div>
            </div> {% endcomment %}
            <!-- PAGE-HEADER END -->


            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h3 class="card-title">All DESTINATIONS</h3>
                            <div class="ms-md-auto pe-md-3 d-flex align-items-center pt-4 position-absolute top-0 end-0">
                                <form class="form-inline my-2 my-lg-0 row text-center" method="GET">
                                    <div class="col-md-8 p-0">
                                    <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
                                    
                                    </div>
                                    <div class="col-md-4 p-0">
                                    <button class="btn btn-outline-dark my-2 my-sm-0" style="height: 39px;" type="submit"><i class="fa fa-search text-center"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% block error_messages %}
                        {% if messages %}
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-3 text-center">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    <p>{{ message }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endblock error_messages %}
                        <div class="itinerary-container">
                            {% comment %} {% if request.user.type == 'ADMIN' or request.user.is_superuser %}
                            <div class="gride">
                                <a href="{% url 'core:add-itinerary' %}" id="table2-new-row-button"
                                    class="btn btn-primary mb-3"> Add Itinerary
                                </a>
                            </div>
                            {% endif %} {% endcomment %}

                            <!-- grid -->
                            <div class="container">
                                <div class="row row-cols-3" >
                                    {% for i in itinerary %}
                                    <div class="col pb-4">
                                    <figure>
                                        <!-- <div class="itinerary-card mb-4 my-2 mx-2" style="width: 18rem;"> -->
                                        <div class="news">
                                            <div class="article">
    
                                                <img style="height: 250px; border-radius: 10%;" src="{{ i.data_image.url }}">
    
                                                <figcaption>
    
                                                    <h3 class="mx-3" style="color: #fff; opacity: 80%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ i.destination }}
                                                    </h3>
                                                    <h4 class="mx-4  position-absolute bottom-0 start-0" style="color: #fff; opacity: 80%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> $ {{ i.budget }}
                                                    </h4>
                                                    <div>
                                                    <a class="btn btn-outline-light"
                                                        href='{% url "core:itinerary-details" i.id %}' style="position: absolute; opacity: 60%; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; margin-left: 53%; margin-top: 48%;">
                                                        Read More
                                                    </a>
                                                </div>
    
                                                </figcaption>
                                            </div>
    
                                        </div>
                                        <!-- </div> -->
                                    </figure>
                                    </div>
                                    {% endfor %}
                                </div>
                              </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>

</div>




{% block extra-plugins %}
{% if request.user.type == 'ADMIN' or request.user.is_superuser %}   
<div class="fixed-plugin">
    <a href="{% url 'core:add-itinerary' %}"  class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-plus py-2"> </i>
    </a>
</div>
{% endif %}
{% endblock extra-plugins %}

{% endblock content %}


