{% extends "./base.html" %}

{% block title %}
Admin Users
{% endblock title %}





{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            {% block error_messages %}
            {% if messages %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endblock error_messages %}

            <!-- PAGE-HEADER -->
            {% comment %} <div class="page-header">

                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List Admin</li>
                    </ol>
                </div>
            </div> {% endcomment %}
            <!-- PAGE-HEADER END -->


            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">All ITINERARY</h3>
                        </div>
                        <div class="itinerary-container p-l-23">
                            
                            <!-- <div class="row mt-4"> -->
                                <!-- <div class="col-lg-7 mb-lg-0 mb-4"> -->
                                    <!-- <div class="card"> -->
                                        <!-- <div class="card-body p-3"> -->
                                            <div class="row">

                                                <div class="col-lg-5 text-center mt-5 mt-lg-0">
                                                    {% comment %} <div class="border-radius-lg h-100"> {% endcomment %}
                                                        
                                                        <img class="rounded-3 justify-content-center h-100 w-100 position-relative z-index-2" src="{{ itinerary_data.data_image.url }}" alt="rocket">
                                                        
                                                    {% comment %} </div> {% endcomment %}
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="d-flex flex-column h-100">
                                                        <span class="" style="font-size: 300%; font-weight: 900; color: #344767;">{{itinerary_data.destination}}</span>
                                                        <span class="text-bold p-t-9" style="font-size: 125%; font-weight: 900; color: #46494d;">Country: &nbsp;{{itinerary_data.country}}</span>
                                                        <span class="text-bold p-t-9" style="font-size: 125%; font-weight: 900; color: #46494d;">City: &nbsp;{{itinerary_data.city}}</span>
                                                        <span class="text-bold p-t-9" style="font-size: 125%; font-weight: 900; color: #46494d;">Category: &nbsp;{{itinerary_data.category_name}}</span>
                                                        <span class="text-bold p-t-9" style="font-size: 125%; font-weight: 900; color: #46494d;">Activity: &nbsp;{{itinerary_data.activity_name}}</span>
                                                        <span class="text-bold p-t-9" style="font-size: 125%; font-weight: 900; color: #46494d;">Nature: &nbsp;{{itinerary_data.nature}}</span>
                                                        <!-- <span class="p-t-8 text-bold">Discription: &nbsp;{{itinerary_data.description}}</span>
                                                        <span class="p-t-8 text-bold">Befor You Go: &nbsp;{{itinerary_data.befor_you_go}}</span> -->
                                                        
                                                    </div>
                                                </div>

                                                <div class="m-t-10 col-lg-6">
                                                    <div class="d-flex flex-column h-100">
                                                        <span class=" text-bold">Discription: &nbsp;{{itinerary_data.description}}</span>
                                                        <span class=" text-bold">Befor You Go: &nbsp;{{itinerary_data.befor_you_go}}</span>
                                                    </div>
                                                                                                  
                                                </div>
                                                <div class="text-center">
                                                    <button class="btn btn-sm btn-info" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Manage User"
                                                        type="submit" name="action">
                                                        <a class="fe fe-edit" style="color: #fff;" href="/core/itinerary-update/{{itinerary_data.id}}"> Edit</a>
                                                    </button>
                                                
                                                    <button class="btn  btn-sm btn-danger" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Delete User"
                                                        type="submit" name="action" >
                                                        <a class="fe fe-trash-2" style="color: #fff" href="{% url 'core:itinerary-delete' itinerary_data.id %}" >Delete </a>
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        <!-- </div> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                                
                            <!-- </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>

</div>
{% endblock content %}