{% extends "./base.html" %}

{% block title %}
Admin Users
{% endblock title %}

{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            {% block error_messages %}
            {% if messages %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endblock error_messages %}

            <!-- PAGE-HEADER -->
            {% comment %} <div class="page-header">
                
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List Admin</li>
                    </ol>
                </div>
            </div> {% endcomment %}
            <!-- PAGE-HEADER END -->


            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">All ITINERARY</h3>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'core:add-itinerary' %}" id="table2-new-row-button"
                                class="btn btn-primary mb-4"> Add Itinerary
                            </a>
                            <div class="table-responsive">
                                <table class="table table-bordered border text-nowrap mb-0" id="new-edit">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div align="center">Destination</div>
                                            </th>
                                            <th>
                                                <div align="center">Country</div>
                                            </th>
                                            <th>
                                                <div align="center">City</div>
                                            </th>
                                            <th style="width: 28%">
                                                <div align="center">Action</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <!-- <tbody> -->

                                    {% for itinerarys in itinerary %}
                                    <tr>
                                        <td class='text-align: center;'>
                                            <div align="'center">{{ itinerarys.destination}}</div>
                                        </td>
                                        <td>
                                            <div class="justify-content-center">{{ itinerarys.country }}</div>
                                        </td>
                                        <td>
                                            <div class="justify-content-center">{{ itinerarys.city }}</div>
                                        </td>


                                        <td>
                                            
                                            <form action="" method="post">
                                                
                                                {% csrf_token %}
                                                <input type="hidden" name="user_id" value="{{user.id}}">
                                                
                                                <button class="btn btn-sm btn-warning" data-bs-placement="bottom"
                                                    data-bs-toggle="tooltip" title="Manage User" type="submit"
                                                    name="action">
                                                    <span class="fe fe-edit"> View</span>
                                                </button>
                                            
                                                
                                                <button class="btn btn-sm btn-info" data-bs-placement="bottom"
                                                    data-bs-toggle="tooltip" title="Manage User" type="submit"
                                                    name="action">
                                                    <span class="fe fe-edit"> Edit</span>
                                                </button>
                                            
                                                
                                                <button class="btn  btn-sm btn-danger float-right" data-bs-placement="bottom"
                                                    data-bs-toggle="tooltip" title="Delete User" type="submit"
                                                    name="action" value="delete"
                                                    onclick="return confirm('Are you sure you want to delete user?');">
                                                    <span class="fe fe-trash-2">Delete </span>
                                                </button>
                                            
                            </div>
                        
                            </form>
                        
                            </td>
                            </tr>
                            {% endfor %}
                            {% comment %} {% else %}
                            No Admin User Found
                            {% endif %} {% endcomment %}
                            <!-- </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    {% endblock content %}