{% extends "./base.html" %}

{% block title %}
Admin Users
{% endblock title %}





{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            {% block error_messages %}
            {% if messages %}
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endblock error_messages %}

            <!-- PAGE-HEADER -->
            {% comment %} <div class="page-header">

                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List Admin</li>
                    </ol>
                </div>
            </div> {% endcomment %}
            <!-- PAGE-HEADER END -->

            



                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header m-l-5">
                                <h2 class="card-title">All ITINERARY</h2>
                            </div>

                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-md-12 pb-2"><span class=""
                                            style="font-size: 300%; font-weight: 900; line-height: 0.5; color: #344767;">{{package_datas.package_name}}</span>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-md-12"> <img class="rounded-3 position-relative z-index-2"
                                            style="height: 300px; width: 600px;" src="{{ package_datas.package_image.url }}"
                                            alt="Image Not Found"></div>
                                </div>
                
                                {% for i in itinerary_datas %}
                                <div class="row">
                                    <span class=""
                                        style="font-size: 300%; font-weight: 900; line-height: 0.5; color: #344767;">{{i.destination}}</span>
                                    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
                                    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
                                    {% endfor %}
                                </div>




                            {% comment %} <div class="container pb-3">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="rounded-3 position-relative z-index-2"
                                            style="height: 280px; width: 360px;"
                                            src="{{ package_datas.package_image.url }}" alt="rocket">
                                    </div>
                                    <div class="col-3">
                                        <div class="d-flex flex-column h-100">
                                            <span class=""
                                                style="font-size: 300%; font-weight: 900; line-height: 0.5; color: #344767;">{{package_datas.package_name}}</span>
                                            <span class="text-bold pt-4"
                                                style="font-size: 125%; font-weight: 900; color: #46494d;">Country:
                                                &nbsp;{{package_datas.country}}</span>
                                            <span class="text-bold pt-2"
                                                style="font-size: 125%; font-weight: 900; color: #46494d;">City:
                                                &nbsp;{{package_datas.city}}</span>
                                            <span class="text-bold pt-2"
                                                style="font-size: 125%; font-weight: 900; color: #46494d;">Category:
                                                &nbsp;{{package_datas.category_name}}</span>
                                            <span class="text-bold pt-2"
                                                style="font-size: 125%; font-weight: 900; color: #46494d;">Activity:
                                                &nbsp;{{package_datas.activity_name}}</span>
                                            <span class="text-bold pt-2"
                                                style="font-size: 125%; font-weight: 900; color: #46494d;">Nature:
                                                &nbsp;{{package_datas.nature}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div> {% endcomment %}



                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>

    </div>
    {% endblock content %}