{% extends "./base.html" %} 
{% block title %} 
Accommodation 
{% endblock title %}
{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            {% comment %}
            <div class="page-header">
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Admin</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            List Admin
                        </li>
                    </ol>
                </div>
            </div>
            {% endcomment %}
            <!-- PAGE-HEADER END -->

            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h3 class="card-title">TRAVEL DOCUMENT</h3>
                            <!-- <div
                                class="ms-md-auto pe-md-3 d-flex align-items-center pt-4 position-absolute top-0 end-0">
                                <form class="form-inline my-2 my-lg-0 row text-center">
                                    <div class="col-md-8 p-0">
                                        <input class="form-control" name="q" type="search" placeholder="Search"
                                            aria-label="Search" id="search" />
                                    </div>
                                    <div class="col-md-4 p-0">
                                        <button class="btn btn-outline-dark my-2 my-sm-0" style="height: 39px"
                                            type="submit">
                                            <i class="fa fa-search text-center"></i>
                                        </button>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                        {% block error_messages %} 
                        {% if messages %}
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-3 text-center">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    <p>{{ message }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %} 
                        {% endblock error_messages %}
                        <div class="itinerary-container">
                           
                            <!-- grid -->
                            <div class="container mb-3">
                                
                                <div class="text-center">
                                    <a class="btn btn-sm bg-gradient-success mb-0" style="width: 25%;" href="{% url 'core:add-travel-document' %}">
                                        <i class='fas fa-upload' style='font-size:25px'></i>
                                    </a>
                                </div>

                                {% for tdh in travel_document_history %}
                                <div class="card">
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header mx-4 p-3 text-center">
                                                <img src="/media/{{ tdh.ticket_image }}" style="width: 390px; height: 300px; border-radius: 2%;">
                                            </div>
                                            <div class="card-body pt-0 p-3 text-center">
                                                <h6 class="text-center mb-0">Ticket Info</h6>
                                                <span class="text-xs">{{ tdh.ticket_info }}</span>
                                                <hr class="horizontal dark my-3">
                                                <div class="text-center">
                                                    <a class="btn btn-sm btn-info mx-1" style="width: 110px;" data-bs-placement="bottom" 
                                                    href="{% url 'core:travel-ticket-update' tdh.id %}" type="submit">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-md-0 mt-4">
                                        <div class="card">
                                            <div class="card-header mx-4 p-3 text-center">
                                                <img src="/media/{{ tdh.reservation_image }}" style="width: 390px; height: 300px; border-radius: 2%;">
                                            </div>
                                            <div class="card-body pt-0 p-3 text-center">
                                                <h6 class="text-center mb-0">Reservation Info</h6>
                                                <span class="text-xs">{{ tdh.reservation_info }}</span>
                                                <hr class="horizontal dark my-3">
                                                <div class="text-center">
                                                    <a class="btn btn-sm btn-info mx-1" style="width: 110px;" data-bs-placement="bottom" 
                                                    href="{% url 'core:travel-reservation-update' tdh.id %}" type="submit">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <a class="btn btn-sm btn-danger mt-3" style="color: #fff; width: 110px;" 
                                    onclick="return confirm('Are yousure you want to delete Documents ?');"
                                    href="{% url 'core:travel-document-delete' tdh.id %}" >Delete</a>
                                </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
</div>

{% comment %} {% block extra-plugins %}
{% if request.user.type == 'ADMIN' or request.user.is_superuser %}
<div class="fixed-plugin">
    <a href="{% url 'core:add-accommodation' %}" class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-plus py-2"> </i>
    </a>
</div>
{% endif %} 
{% endblock extra-plugins %}  {% endcomment %}
{% endblock content %}